# Unique name for this workflow
name: Deploy to Production

# Definition when the workflow should run
on:
    workflow_dispatch:
            

# Jobs to be executed
jobs:
    push-to-prod:
        runs-on: ubuntu-latest
        steps:
        # Checkout the source code
            - name: 'Checkout source code'
              uses: actions/checkout@v4
        # Install Salesforce CLI
            - name: 'Install Salesforce CLI'
              run: |
                  wget https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz
                  mkdir ~/sfdx
                  tar xJf sfdx-linux-x64.tar.xz -C ~/sfdx --strip-components 1
                  echo "$HOME/sfdx/bin" >> $GITHUB_PATH
                  ~/sfdx/bin/sfdx version
                  
        # Store secret for the org
            - name: 'Populate auth file with SFDX_PRODUCTION_URL secret'
              shell: bash
              run: |
                  echo ${{ secrets.SFDX_PRODUCTION_URL}} > ./SFDX_PRODUCTION_URL.txt
                  secretFileSize=$(wc -c "./SFDX_PRODUCTION_URL.txt" | awk '{print $1}')
                  if [ $secretFileSize == 1 ]; then
                      echo "Missing SFDX_PRODUCTION_URL secret. Is this workflow running on a fork?";
                      exit 1;
                  fi
            # Authenticate account
            - name: 'Authenticate Acc'
              run: sfdx auth:sfdxurl:store -f ./SFDX_PRODUCTION_URL.txt -s -a production
              
            # Deploy source to Acc org
            - name: 'Push source to the production org'
              run: sfdx force:source:deploy -u <username> -p sample-sfdx-repo-workflow/force-app/main/default
